<body class="vh-100 d-flex align-items-center justify-content-center"
    style="background: url('../../../assets/background.png') no-repeat center center/cover;">

    <!-- Radijalni overlay preko cele stranice -->
    <div class="position-absolute w-100 h-100"
        style="background: radial-gradient(circle, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.3) 70%);"></div>

    <!-- Sadržaj (logo, tekst i dugme) pozicioniran iznad overlay-a -->
    <div class="position-relative text-center text-white">

        <div class="mb-2" style="

            height: auto;
            filter: brightness(0) saturate(100%) invert(57%) sepia(97%) saturate(7498%) hue-rotate(203deg) brightness(96%) contrast(101%);
        
        ">
            <img src="../../../assets/book.png" alt="Book Logo" class="book-logo">
        </div>


        <!-- Tekst dobrodošlice -->
        <h1 class="mb-3">Welcome to Book Store</h1>
        <!-- Dugme koje vodi na home page -->
        <a href="/home" class="btn btn-primary btn-lg">Find Book</a>
    </div>
</body>