<body class="d-flex flex-column min-vh-100">

  <main class="flex-fill">

    <div class="navbar navbar-expand navbar-dark bg-dark">

      <a [routerLink]="['/home']">
        Book Selling Platform
        <fa-icon [icon]="faBook" class="ms-auto me-auto book-icon"></fa-icon>
      </a>

      <div class="navbar-nav me-auto">
        <li class="nav-item" *ngIf="isAdmin()">
          <a [routerLink]="['/admin']" routerLinkActive="active" class="nav-link">Admin</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link">Home</a>
        </li>
      </div>

      <div class="navbar-nav ms-auto" *ngIf="!currentUser?.id">
        <li class="nav-item">
          <a [routerLink]="['/register']" routerLinkActive="active" class="nav-link">Sign Up</a>
        </li>
        <li class="nav-item me-1">
          <a [routerLink]="['/login']" routerLinkActive="active" class="nav-link">Sign In</a>
        </li>
      </div>

      <div class="navbar-nav ms-auto" *ngIf="currentUser?.id">
        <li class="nav-item">
          <a [routerLink]="['/profile']" routerLinkActive="active" class="nav-link">
            {{currentUser.username}}
          </a>
        </li>
        <li class="nav-item me-1">
          <a (click)="logOut()" class="nav-link" style="cursor: pointer;">
            Sign Out
          </a>
        </li>
      </div>
    </div>

    <router-outlet></router-outlet>

  </main>

  <footer class="bg-dark text-white mt-5">
    <div class="container py-4">
      <div class="row">
        <div class="d-flex justify-content-center">
          <p class="mb-0">Mihajlo Jankovic &copy; Copyright 2025</p>
        </div>
      </div>
    </div>
  </footer>


</body>